* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 85vh;
    width: 100%;
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: inherit;
}



main div {
    height: 85%;
    width: 75%;
    background: rgb(34, 34, 34);


    display: flex;
    justify-content: center;

    position: relative;
    z-index: 1;

    border-radius: 0%;
}

.acard{
    height: 85%;
    width: 25%;
    margin: 3%;
}

.card {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: black;
    transition:.8s;
}

.card:hover {
    transform: scale(1.07);
}

.card:hover h2{
    color:red;
}

.card:hover .acard .card-body p{
    font-family: monospace;
}

.card-image{
    height: 40%;
    width: 100%;
    background: black;

    margin-bottom: 15px;
}

.card-body{
    height: 55%;
    background-color: black;
    display: inline-block;
    
}

.card h2{
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    color: yellow;
    margin-left: 0%;
    margin-top: 5%;
}

.card p{
    margin-top: 10%;
    margin-left: 0%;
    font-family: monospace;
    color: white;
    font-size: 14px;
}


.card-1{
    background-image: url(../img/cards/1.jpg);
    background-size: cover;
}

.card-2{
    background-image: url(../img/cards/2.jpg);
    background-size: cover;
}

.card-3{
    background-image: url(../img/cards/3.jpg);
    background-size: cover;
}


a:active{
    color: black;
}
a:hover{
    color: black;
}







/*                                                                          RESPONSIVE DESIGN                                                                                        */

@media (max-width: 1445px) {

    main{
        height: 150vh;
    }
    main div {
        height: 90%;
        width: 75%;
        background: rgb(34, 34, 34);
    
    
        display: flex;
        justify-content: center;
    
        position: relative;
        z-index: 1;
    
        border-radius: 0%;

        flex-direction: column;
    }


    .acard{
        width: 94%;
        height: 30%;
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        
    }
    .card {
        width: 100%;
        height: 100%;
        background-color: black;
        
        transition:.8s;
    }


    
    .acard .card-image{
        height: 100%;
        width: 38%;

        background-size: cover;
        background-repeat: round;
    }

    .card-body{
        height: 100%;
        width: 50%;

        background-color: black;
        display: flex;
        flex-direction: column;

    }

    .acard .card .card-body h2{
        margin: 1%;
        padding: 0%;
    }

    .acard .card .card-body p{
        margin: 5%;
        padding: 0%;
    }

}




@media (max-width: 800px) {

    main{
        height: 150vh;
        background-color: gray;
    }

    main video{
        display: none;
    }

    main div {
        height: 90%;
        width: 75%;
        border-radius: 0%;
        
        background: rgb(34, 34, 34);
        position: relative;
        
        justify-content: center;
    
        display: flex;
        flex-direction: column;

    
        
        z-index: 1;

    }


    .acard{
        width: 94%;
        height: 25%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        
    }
    .card {
        width: 100%;
        height: 100%;
        background-color: black;
        
        transition:.8s;
    }

    
    .acard .card-image{
        height: 100%;
        width: 38%;

        background-size: cover;
    }

    .card-body{
        height: 48%;

        background-color: black;
        display: flex;
        flex-direction: column;

    }

    .acard .card .card-body h2{
        margin-left: 25%;
        padding: 0%;
    }



}


@media (max-width: 615px) {
    main{
        height: 200vh;
    }

    

    .acard{
        width: 94%;
        height: 25%;
        display: flex;
        flex-direction: column;
        margin-top: 25%;
        
    }
    .card {
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        flex-direction: row;
        transition:.8s;
    }

    
    .acard .card-image{
        height: 50%;
        width: 100%;

        background-size: cover;
        background-repeat: round;
    }

    .card-body{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 40%;
    }

    .acard .card .card-body h2{
        margin: 0%;
    }

  
}

@media (max-width: 480px) {
    main{
        height: 160vh;
    }
    main div{
        height: 90%;
        width: 90%;
    }
    .acard{
        height: 30%;
        margin-top: 5%;
    }

    .card{
        height: 100%;
        background-color: black;
    }

    .acard .card-image{
        height: 40%;
    }

    .acard .card-body{
        height: 40%;
        width: 100%;
        background-color: black;

        padding-top: 20%;
    }

    .acard .card .card-body h2{
        margin-top: -40%;
    }
}

@media (max-width: 360px) {
    main{
        height: 210vh;
    }
}

/*                                                                          RESPONSIVE DESIGN                                                                                        */