*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: 850vh;
    width: 100%;
    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centralizador{
    height: 98%;
    width: 80%;
    background-color: darkblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    height: 2%;
    width:  100%;
    background-color: yellow;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.desarrollo{
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);

    display: flex;
    justify-content: center;
    }

.desarrollo-1{
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);

    color: white;
    padding: 5%;
}

.desarrollo-1 h2{
    margin-top: 3%;
}
.desarrollo-1 h3{
    margin-top: 3%;
}
.desarrollo-1 p{
    margin-top: 3%;
    font-size: 18px;
}

.foto{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img{
    height: 100%;
    width: 40%;
}


.foto3{
    height: 5%;
}